[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"

[packages]
numpy = "*"
matplotlib = "*"
pillow-simd = "*"
scipy = "*"
numpy-stubs = {git = "https://github.com/numpy/numpy-stubs.git"}
more-itertools = "*"

[requires]
python_version = "3.8"
